:root {
  --fg: #000;
  --bg: #fff;

  --grey: rgba(0, 0, 0, 0.2);

  --red: #EB5757;
  --blue:#2F80ED;

  --link: var(--blue);
}

@media (prefers-color-scheme: dark) {
  :root {
      --fg: rgb(201, 209, 217);
      --bg: #0D1117;
      --grey: rgba(255, 255, 255, 0.2);

      --link: var(--red);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

h1 {
    font-size: 40px;
}


a {
  color: var(--link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-a {
    color: var(--red);
}
.text-b {
    color: var(--blue);
}

.text-bold {
    font-weight: bold;
}

.code, code {
    transition: background-color .3s cubic-bezier(0.47, 0, 0.745, 0.715);
    font-size: 1.3em;
}
code.active, code:hover {
    background-color: var(--grey);
}
